.widget-server-list {
  display: block;
  margin-left: auto;
  margin-right: auto;

  .status-accounts {
    font-size: 16px;

    .last-request { display: inline-block; }
    .accounts {
      display: inline-block;
      font-weight: bold;
    }

    .account {
      display: inline-block;
      padding: 5px 10px;
    }
  }

  .server {
    display: inline-block;
    position: relative;
    margin: 5px 0px;

    &:hover {
      background-color: rgba(152, 158, 177, 0.28)
    }
  }

  .details {
    display: inline-block;
    width: 500px;
    margin-right: 300px;
    height: inherit;

    .name {
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      color: #222;
      margin: 0px 12px;
      width: 300px;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .account {
      font-size: 10px;
      vertical-align: middle;
      display: inline-block;
      padding: 5px;
      min-width: 60px;
    }
    .check {
      color: #555;
      font-size: 12px;
      display: inline-block;
      width: 105px;
    }
  }

  .metric {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
}