.widget-server-list {
  display: block;
  margin-left: auto;
  margin-right: auto;

  .server {
    height: 60px;
  }

  .name {
    display: inline-block;
    width: 400px;
  }

  .metric {
    display: inline-block;
  }
}