

.widget-server-summary {

  .row {
    padding: 10px;
  }

  .name {
    display: inline-block;
    width: 400px;
  }

  .metric {
    display: inline-block;
    width: 100px;
    max-height: 90px !important;
  }
}