<% content_for :title do %>New Relic Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="my_widget" data-view="ServerSummary"></div>
    </li>
  </ul>
</div>